<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" package="pt.iscte.escout" android:installLocation="auto" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="28" />
	<application android:label="escout.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>